{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="omb_login">
    <h3 class="omb_authTitle">{% trans "Logout" %}</h1>
    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <p class="omb_authTitle">{% trans 'Are you sure you want to log off?' %}</p>
        <form class="omb_loginForm" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
