audiotools==3.1.1
Django==1.8
django-appconf==1.0.2
django-crispy-forms==1.6.0
django-haystack==2.4.1
django-image-tools-2==1.0
elasticsearch==2.3.0
flake8==2.5.4
mccabe==0.4.0
pbr==1.8.1
pep8==1.7.0
pilkit==1.1.13
Pillow==3.2.0
pyflakes==1.0.0
six==1.10.0
stevedore==1.8.0
urllib3==1.12
vboxapi==1.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wheel==0.24.0
