{% extends "core/base.html" %}

{% load crispy_forms_tags %}

{% block title %} - Contact{% endblock %}

{% block body %}

    <div class="col-lg-12">
        <div class="col-lg-10 col-lg-offset-2">
            <h2>{% if title %}{{ title }}{% else %}Contact Us{% endif %}</h2>
        </div>
        {% if messages %}
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
        {% if form %}
        <form class="form-horizontal"role="form" action="" method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
        {% endif %}

{% endblock %}