{% extends "core/base.html" %}

{% block body %}
	<div class="col-lg-9">
		{% if large_posts %}
			{% for post in large_posts %}
				{% if post.post_type == 'IM' %}
					<div class="row text">
						<div class="col-lg-12">
							<h2><a href="{% url 'post' post.id post.slug %}">{{ post.title }}</a></h2>
							<p>{{ post.body|linebreaksbr }}</p>
							{% for i in post.image.all %}
								{% if forloop.first %}
									<div class="center">
										<a href="{% url 'image' post.id post.slug %}">
										<img src="{{ i.image.url }}">
										</a>
									</div>
								{% endif %}
							{% empty %}
							{% endfor %}
						</div>
					</div>
				{% else %}
					<div class="row text">
						<div class="col-lg-{% if post.image.all %}8{% else %}12{% endif %} ">    
							<h2><a href="{% url 'post' post.id post.slug %}">{{ post.title }}</a></h2>
							<p>{{ post.body|linebreaksbr }}</p>
						</div>
						{% for i in post.image.all %}
							{% if forloop.first %}
								<div class="col-lg-4">
									<a href="{% url 'image' post.id post.slug %}">
										<img src="{{ i.image.url }}">
									</a>
								</div>
							{% endif %}
						{% empty %}
						{% endfor %}
						{% for i in post.file.all reversed %}
							<div class="col-lg-8">
								<p><a href="{{ i.file.url }}">{{ i.title }}</a></p>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			{% endfor %}
		{% else %}
			<div class="row text">
				<h1>No posts to display.</h1>
			</div>
		{% endif %}
	</div>
	<div class="col-lg-3">
		{% if small_posts %}
			{% for post in small_posts %}
				<div class="row text">
					<div class="col-lg-12">
						<h3 class="center"><a href="{% url 'post' post.id post.slug %}">{{ post.title }}</a></h3>
						<p>{{ post.body|linebreaksbr|slice:":500" }}...</p>
						<a href="{% url 'post' post.id post.slug %}"><p style="text-align:right">More</p></a>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="row">
				<h1>No posts to display.</h1>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block pagination %}
	<div class="col-lg-12">
		<div class="row text">
			<div class="col-lg-4">
				{% if large_posts.has_previous %}
					<a href="?page={{ large_posts.previous_page_number }}">Previous</a>
				{% endif %}
			</div>
			<div class="col-lg-4 center">
				<span class="current">
					Page {{ large_posts.number }} of {{ large_posts.paginator.num_pages }}.
				</span>
			</div>
			<div class="col-lg-4 pag-r">
				{% if large_posts.has_next %}
					<a href="?page={{ large_posts.next_page_number }}">Next</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}