{% extends "core/base.html" %}

{% block body %}
    <div class="col-lg-9">
        {% if large_posts %}
            {% for post in large_posts %}
                <div class="row">
                    <h1>
                        <a href="{% url 'post' post.slug %}">{{ post.title }}</a>
                    </h1>
                    <p>{{ post.body }}</p>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <h1>No posts to display.</h1>
            </div>
        {% endif %}
    </div>
    
    <div class="col-lg-3">
        {% if small_posts %}
            {% for post in small_posts %}
                <div class="row">
                    <h3>
                        <a href="{% url 'post' post.slug %}">{{ post.title }}</a>
                    </h3>
                <p>{{ post.body|slice:":200" }}...</p>
                </div>
                <div class="row">
                    <a href="{% url 'post' post.slug %}"><p style="text-align:right">More</p></a>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <h1>No posts to display.</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}