.nav-padding {
  padding-left : 8%;
  padding-right : 8%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 70px;
  background-image: url("../img/skulls-white.jpg")
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

img {
  max-width: 100%;
  max-height: 100;
}

/*Set site width*/
body > .container {
  width: auto;
  max-width: 75%;
  padding: 0 15px;
}

/*Copyright Message*/
.container .text-muted {
  margin: 20px 0;
}

/*Jumbotron formatting*/
.jumbotron {
  background-image: url("../img/pool-table.JPG");
  background-size: auto!important;
  background-repeat: no-repeat;
  background-position: center center;
  color: #e6e6e6
}

/*
* {
  border-style: dashed;
  border-color: aqua;
  border-width: 2px;
}*/

/*Text formatting*/
.text {
  background-color: white;
  border-style: hidden;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px 0px;
}

.feed-bg {
  background-color: #ededed;
}

.col-lg-12 > img {
  margin: 0 auto;
}

.center {
  text-align: center;
}

.pag-r {
	text-align: right;
}

/*Colouring for the tabs*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #ededed;
}

/*Nav links colouring*/
.nav-tabs > li > a {
  background-color: #e0e0e0;
}

.feed-bg > .row > .col-lg-9 {
  padding-right: 0px;
}

.feed-bg > .row {
  padding-top: 5px;
}


/* Custom CSS for Form.*/


/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}
